#classification-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#project-selector-container {
  width: 14em;
  min-width: 14em;
  height: 3em;
  max-height: 3em;
  margin-top: -3em;
}

#objects-list-container {
  width: 14em;
  min-width: 14em;
  height: 40em;
  min-height: 40em;
  display: flex;
  flex-direction: column;
}

#objects-list {
  margin-bottom: 1.4em;
  flex-grow: 1;
}

#no-selection-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#no-selection-page-title {
  margin-top: 10em;
}

.classification-page {
  height: 38em;
  min-height: 38em;
  width: 70em;
  min-width: 70em;
  background: #191919;
  border-radius: 5px;
  margin: 0 2em;
  padding: 1em;
}

#collect-data-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: transparent;
}

#collect-data-preselect-container {
  display: flex;
  flex-direction: column;
}

#collect-data-title {
  margin-bottom: 50px;
}

#preselect-list {
  width: 350px;
}

#preselect-content {
  margin: auto 0;
}

#projects-list {
  width: 16em;
  max-height: 30em;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -1em;
  margin-top: 0;
}

#summary-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#project-selector-content > h4 {
  color: #949494;
}

#project-selector-content > i {
  color: #949494;
}

#summary-page-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3em;
  max-height: 3em;
}

.objects-list-item {
  color: #FEFEFE;
}

#download-model-button {
  width: 15em;
  min-width: 15em;
  align-self: end;
}

#summary-page-title-input {
  flex-grow: 1;
}

#summary-page-content-container {
  flex-grow: 1;
}

#summary-page-controls-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#summary-page-controls-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
}

.summary-page-control {
  width: 15em;
  min-width: 15em;
}

.record-page-control {
  width: 15em;
  min-width: 15em;
}

#main-video {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg); 
}

#record-video-container {
  width: 70em;
  height: 38em;
}

#video-controls-container {
  margin-top: 2em;
}

#main-canvas {
  position: absolute;
  display: none;
}

#object-data-container {
  width: 15.2em;
  min-width: 15.2em;
}

.object-data-list-item {
  width: 4em;
  max-width: 4em;
  margin: 0.2em;
  background: #191919;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.2s;
}

.object-data-list-item:hover {
  background: #4303AA;
  transition-duration: 0.2s;
}

#object-type-selector-container {
  width: 15em;
}

#object-type-list {
  width: 15em;
}

#summary-page-content-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

#state-data-container {
  width: 15.2em;
  min-width: 15.2em;
}

#object-state-list {
  display: flex;
  flex-direction: column;
}

.object-state-list-item {
  margin: 0.2em 0;
  display: flex;
  flex-direction: row;
}

.object-state-list-item p {
  flex-grow: 1;
  margin-left: 4em;
}

.object-state-list-item-confidence {
  width: 4em;
  min-width: 4em;
}

.object-state-list-item p {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FEFEFE;
  font-size: 0.8rem;
  letter-spacing: 0.02em;
  font-weight: 600;
}
