#nav-container {
  width: 100%;
  height: 6em;
  display: flex;
  background: #191919;
  position: absolute;
  justify-content: center;
  z-index: 50;
}

#nav-container a {
  align-self: center;
}

#nav-left-group {
  display: flex;
  width: 28em;
  justify-content: center;
}

#nav-center-group {
  height: 100%;
  margin: 0px 100px;
  display: flex;
}

#nav-center-group a {
  margin: 0 1.5em;
  text-transform: capitalize;
}

#nav-right-group {
  width: 28em;
  display: flex;
  justify-content: center;
}

#nav-right-group a {
  text-transform: capitalize;
}

#signup-link {
  margin-left: 1em;
  border-radius: 5px;
  padding: 0.8em 1em;
  background: #4303aa;
}
